.possibility__container{
    position: relative;
    width: 100%;
    width: 90%;
    margin: 8rem auto 2rem;
    padding-top: 6rem;
}

.container-image{
    width: 50%;
}

.container-image img {
    width: 100%;
    height: 100%;
}

.container-content{
    position: absolute;
    width: 40%;
    right: 0%;
    top: 15%;
}

.possibility__container h4{
    color: #FF8A71;
    text-align: center; 
}

/* cube styles */
.cube__container {
    height: 20vh;
    width: 10vh;
    right: -300px;
    top: -100px;
    color: #fff;
    transform:  translate(-50%, -50%);
    perspective: 1000px;
}

.cube{
    position: absolute;
    width: 200px;
    height: 200px; 
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    animation: animate 12s linear infinite;
}

@keyframes animate {
    0%{
        transform: rotateY(360deg) rotateX(360deg);
    }
}

.box{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    font-size: 30px;
    box-sizing: border-box;
    position: absolute;

}

.front{
    transform: translateZ(100px);
}

.back{
    transform: translateZ(-100px);
}

.left{
    right: 100px;
    transform: rotateY(-90deg);
}

.right{
    left: 100px;
    transform: rotateY(90deg);
}

.top{
    bottom: 100px;
    transform: rotateX(90deg);
}

.buttom{
    top: 100px;
    transform: rotateX(-90deg);
}


@media screen and (min-width: 768px) {
    .possibility__container{
        width:90%;
        position: relative;
    }
    
    .container-image{
        width: 60%;
    }

    .container-content{
        position: absolute;
        width: 50%;
        top: 20%;
        right: -20%;
   }

    .container-content h4 {
        display: none;
    }

    .possibility__container h4 {
        font-size: 30px;
        font-weight: 500;
    }
  
}


@media screen and (max-width: 768px){
    .possibility__container{
        margin: 6rem auto;
    }

    .cube__container {
        height: 5vh;
        width: 5vh;
        right: -150px;
        top: -50px;
    }
    
    
    .cube{
        position: absolute;
        width: 100px;
        height: 100px; 
    }
    
    .box{
        height: 100px;
        width: 100px;
        border: none;
    }

    .box img {
        width: 100%;
        /* height: 100%; */
    }
    
    .front{
        transform: translateZ(50px);
    }
    
    .back{
        transform: translateZ(-50px);
    }
    
    .left{
        right: 50px;
        transform: rotateY(-90deg);
    }
    
    .right{
        left: 50px;
        transform: rotateY(90deg);
    }
    
    .top{
        bottom: 50px;
        transform: rotateX(90deg);
      
    }
    
    .buttom{
        top: 50px;
        transform: rotateX(-90deg);
     
    } 
}